# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# shortcuts created for debugging
*.cmd
*.sh

.env

# generated during tests
tmp/
e2e/
report/
test/**/report/
!src/**/report/
!test/report/
.utr-capabilities/
test/report/report.html

# IDE
.vscode/
