body {
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

progress {
  width: 5rem;
}

th {
  text-align: left;
}

th.count {
  width: 5rem;
}

th.elapsed {
  width: 6rem;
}

th.status {
  width: 10rem;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

table {
  table-layout: fixed;
  width: 100%;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
}

img.log {
  width: 50%;
}

img.log:hover {
  width: unset;
}